In [4]:
from matplotlib import pyplot as plt
import pandas as pd
import os

In [19]:
arinc_df = pd.read_parquet('translated/652200111111735_ARINC429_F0_translated/Engine_Fan_RPM_N1_ACTUAL_40.parquet/')
arinc_df['time'] = pd.to_datetime(arinc_df['time'])
arinc_df.set_index('time', inplace=True)
arinc_df

                         N1_RPM_ACTUAL
time
2001-11-11 23:34:20.010            0.0
2001-11-11 23:34:20.020            0.0
2001-11-11 23:34:20.030            0.0
2001-11-11 23:34:20.040            0.0
2001-11-11 23:34:20.050            0.0
...                                ...
2001-11-12 01:33:27.860            0.0
2001-11-12 01:33:27.870            0.0
2001-11-12 01:33:27.880            0.0
2001-11-12 01:33:27.890            0.0
2001-11-12 01:33:27.900            0.0

[714790 rows x 1 columns]

In [20]:
for file in os.listdir('translated/652200111111735_ARINC429_F0_translated/'):
    if file.endswith('.parquet'):
        temp_df = pd.read_parquet(os.path.join('translated/652200111111735_ARINC429_F0_translated/', file))
        temp_df['time'] = pd.to_datetime(temp_df['time'])
        temp_df.set_index('time', inplace=True)
        arinc_df = arinc_df.merge(temp_df, on='time')

In [21]:
arinc_df

Empty DataFrame
Columns: [N1_RPM_ACTUAL_x, Exhaust_Gas_Temperature_x, Exhaust_Gas_Temperature_y, Eng_Oil_Status_x, Engine_Oil_Pressure_x, N1_RPM_DEMAND_x, N2_RPM_x, Eng_Oil_Temp_x, N1_RPM_DEMAND_y, Eng_Oil_Temp_y, N2_RPM_y, Eng_Oil_Status_y, Engine_Oil_Pressure_y, Fuel_Flow_x, N1_RPM_ACTUAL_y, Fuel_Flow_y, N1_RPM_ACTUAL]
Index: []

In [23]:
arinc_df2 = pd.read_parquet('translated/652200111111735_ARINC429_F0_translated/ENGINE_OIL_PRESSURE_40.parquet/')
arinc_df2['time'] = pd.to_datetime(arinc_df2['time'])
arinc_df2.set_index('time', inplace=True)
arinc_df2

                            Eng_Oil_Status  Engine_Oil_Pressure
time
2001-11-11 23:34:20.010200            True                  0.0
2001-11-11 23:34:20.020200            True                  0.0
2001-11-11 23:34:20.030200            True                  0.0
2001-11-11 23:34:20.040200            True                  0.0
2001-11-11 23:34:20.050200            True                  0.0
...                                    ...                  ...
2001-11-12 01:33:27.860200            True                  0.0
2001-11-12 01:33:27.870200            True                  0.0
2001-11-12 01:33:27.880200            True                  0.0
2001-11-12 01:33:27.890200            True                  0.0
2001-11-12 01:33:27.900200            True                  0.0

[714790 rows x 2 columns]